@import "tailwindcss";

:root {
  /* Cores base */
  --background: #f4f3f2;
  --foreground: #171717;

  /* Paleta de cores personalizada */
  --primary: #e92025;
  --secondary: #911d1d;
  --accent: #e2716d;
}

/* Mapeamento para o Tailwind */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  /* Fontes */
  --font-family-cinzel: var(--font-cinzel);
  --font-family-montserrat: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background);
    --foreground: var(--foreground);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}
