@import "tailwindcss";

:root {
  /* Cores base */
  --background: #f4f3f2;
  --foreground: #171717;

  /* Paleta de cores personalizada */

  /* Fontes */
  --font-cinzel: "Cinzel", serif;
  --font-montserrat: "Montserrat", sans-serif;
}

@theme inline {
  /* Mapeamento para o Tailwind */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Fontes */
  --font-family-cinzel: var(--font-cinzel);
  --font-family-montserrat: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background);
    --foreground: var(--foreground);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}
